numpy>=1.21

pip
bump2version
cookiecutter>=1.4.0
wheel

twine==1.14.0
pytest
pytest-runner
pytest-cov
pytest-cookies
flake8
coverage
flake8-html

sphinx>=3 # jupyter_sphinx requires sphinx>=2
nbsphinx
jupyter_sphinx>=0.3.2
sphinx-jsonschema>=1.15
pygments==2.6.1
pydata_sphinx_theme==0.7.2
sphinxcontrib.bibtex==2.4.1
